In [1]:
import seaborn as sns

In [2]:
df = sns.load_dataset('healthexp')
df.head()

URLError: <urlopen error unknown url type: https>

In [ ]:
## Coveriance
import numpy as np

In [ ]:
df.cov()

/tmp/ipykernel_110/1545644723.py:1: FutureWarning: The default value of numeric_only in DataFrame.cov is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.cov()

                         Year  Spending_USD  Life_Expectancy
Year               201.098848  2.571883e+04        41.915454
Spending_USD     25718.827373  4.817761e+06      4166.800912
Life_Expectancy     41.915454  4.166801e+03        10.733902

In [ ]:
## spearman Rank Correlation 

df.corr(method="spearman")

/tmp/ipykernel_110/2176348731.py:3: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.corr(method="spearman")

                     Year  Spending_USD  Life_Expectancy
Year             1.000000      0.931598         0.896117
Spending_USD     0.931598      1.000000         0.747407
Life_Expectancy  0.896117      0.747407         1.000000

In [ ]:
## Pearson Correlation

df.corr(method="pearson")

/tmp/ipykernel_110/3839516566.py:3: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.corr(method="pearson")

                     Year  Spending_USD  Life_Expectancy
Year             1.000000      0.826273         0.902175
Spending_USD     0.826273      1.000000         0.579430
Life_Expectancy  0.902175      0.579430         1.000000

In [ ]:
df1 = sns.load_dataset("titanic")

In [ ]:
df1.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [ ]:
## Coveriance
df1.cov()

/tmp/ipykernel_110/8274657.py:2: FutureWarning: The default value of numeric_only in DataFrame.cov is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df1.cov()

,survived,pclass,age,sibsp,parch,fare,adult_male,alone
survived,0.236772,-0.137703,-0.551296,-0.018954,0.032017,6.221787,-0.132720,-0.048451
pclass,-0.137703,0.699015,-4.496004,0.076599,0.012429,-22.830196,0.038494,0.055347
age,-0.551296,-4.496004,211.019125,-4.163334,-2.344191,73.849030,2.012292,1.428550
sibsp,-0.018954,0.076599,-4.163334,1.216043,0.368739,8.748734,-0.136916,-0.315568
parch,0.032017,0.012429,-2.344191,0.368739,0.649728,8.661052,-0.138108,-0.230242
fare,6.221787,-22.830196,73.849030,8.748734,8.661052,2469.436846,-4.428757,-6.613861
adult_male,-0.132720,0.038494,2.012292,-0.136916,-0.138108,-4.428757,0.239723,0.097026
alone,-0.048451,0.055347,1.428550,-0.315568,-0.230242,-6.613861,0.097026,0.239723

In [ ]:
## spearman Rank Correlation 

df1.corr(method="spearman")

/tmp/ipykernel_110/865658342.py:3: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df1.corr(method="spearman")

,survived,pclass,age,sibsp,parch,fare,adult_male,alone
survived,1.000000,-0.339668,-0.052565,0.088879,0.138266,0.323736,-0.557080,-0.203367
pclass,-0.339668,1.000000,-0.361666,-0.043019,-0.022801,-0.688032,0.099351,0.135896
age,-0.052565,-0.361666,1.000000,-0.182061,-0.254212,0.135051,0.257641,0.167293
sibsp,0.088879,-0.043019,-0.182061,1.000000,0.450014,0.447113,-0.307948,-0.828215
parch,0.138266,-0.022801,-0.254212,0.450014,1.000000,0.410074,-0.397286,-0.683719
fare,0.323736,-0.688032,0.135051,0.447113,0.410074,1.000000,-0.308894,-0.531472
adult_male,-0.557080,0.099351,0.257641,-0.307948,-0.397286,-0.308894,1.000000,0.404744
alone,-0.203367,0.135896,0.167293,-0.828215,-0.683719,-0.531472,0.404744,1.000000

In [ ]:
## pearson corretion

df1.corr(method="pearson")

/tmp/ipykernel_110/1844664517.py:3: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df1.corr(method="pearson")

,survived,pclass,age,sibsp,parch,fare,adult_male,alone
survived,1.000000,-0.338481,-0.077221,-0.035322,0.081629,0.257307,-0.557080,-0.203367
pclass,-0.338481,1.000000,-0.369226,0.083081,0.018443,-0.549500,0.094035,0.135207
age,-0.077221,-0.369226,1.000000,-0.308247,-0.189119,0.096067,0.280328,0.198270
sibsp,-0.035322,0.083081,-0.308247,1.000000,0.414838,0.159651,-0.253586,-0.584471
parch,0.081629,0.018443,-0.189119,0.414838,1.000000,0.216225,-0.349943,-0.583398
fare,0.257307,-0.549500,0.096067,0.159651,0.216225,1.000000,-0.182024,-0.271832
adult_male,-0.557080,0.094035,0.280328,-0.253586,-0.349943,-0.182024,1.000000,0.404744
alone,-0.203367,0.135207,0.198270,-0.584471,-0.583398,-0.271832,0.404744,1.000000

In [ ]:
import numpy as np